*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}


header{
    background-color:#FF7700 ; 
    height: 60px;
    width: 100%;
}

div.nav-bar{
    justify-content: space-between; 
    width: 80%;
}

.logo{
    width: 15%;
    margin-top: 20px;
    margin-left: 40%;
}

div.icons{
    width: 6%;
    
   
}
div img.icon-shopping{
    width: 50px;
    padding: 18px;
    
}

div h3{
    color: white;
    display: block;
    width: 40%;
    margin-top:20px ;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 15px;
}


.flex{
    display: flex;
    flex-direction: row;
}

.bg-rosso{
    background-color:#ff0000 ;
    width: 30px;
}

.color-rosso{
    color: #ff0000;
    
}

.bg-verde{
    background-color: #017f00;
    width: 90px;
}

.bg-nero{
    background-color: black ;
}

.color-white{
    color: white;
}

.bg-white{
    background-color: white;
}

main > section{
    padding: 2rem 0;
}

img{
    width: 300px;   
}

.img2{
    display: none;
}

.colona:hover .img2{
    display: block;
}

div.colona{
    position: relative;
    width: (calc(100% / 3) - 300px);
    padding: 1rem ;
} 

div.colona span.sconto{
    font-size: 12px;
    height: 20px;
    padding: 3px 0 0 2px;
}

.absolute{
    position: absolute;
    bottom: 20%;
    left: 5%;
}

div.colona span.eco{
    left: 15%;
    height: 20px;
    font-size: 15px;
}

.text-green{
    position: absolute;
    bottom: 20%;
    left: 50px;
    height: 20px;
    font-size: 13px;
    padding: 2px 0 0 10px ; 
}

.margin-padding{
    left: 18px;
    padding: 2px 0 0 10px ; 
    font-size: 13px;
height: 20px;
}

div span.cuore{
    position: absolute;
    top: 5%;
    right: 0;
    width: 55px;
    height: 30px;
    padding: 3px 0 0 10px;
}

.no-sconto{
    text-decoration:line-through;
}

.font{
    font-size: 13px;
}

.font-wear{
    font-size: 15px;
}

.margin-top{
    margin-top: 10px;
}

footer{
    height: 100px; 
}

ul{
    list-style-type: none;
}

.sottotitolo-testo{
    justify-content: space-between;
   padding-top: 20px;
}

.icone-social{
    width: 140px;
}




