*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color:#ff6900 ;
}
.flex{
    display: flex;
    flex-direction: row;
}
.position-relative{
    position: relative;
}
.bg-rosso{
    background-color:#ff0000 ;
}
.bg-verde{
    background-color: #017f00;
}
.bg-nero{
    background-color: #1a1a1a;
}