*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 80px;
    background-color:#ff6900 ;
    
}
.flex{
    display: flex;
    flex-direction: row;
}
.position-relative{
    position: relative;
}
.color-rosso{
    background-color:#ff0000 ;
}
.color-verde{
    background-color: #017f00;
}
.color-nero{
    background-color: #1a1a1a;
}
.color-white{
    color: white;
}

.logo{
    width: 20%;
    margin-top: 30px; 
   
}

.genere{
    width: 30%;
    margin-top:30px ;
    margin-left: 20px;
    font-size: 18px;
    
}
.nav-bar{
    justify-content: space-between;
}
.spazio-genere{
    margin-right: 10px;
}
